################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/src/.vs
/src/ApiGateways/WebApiGateway/.vs/WebApiGateway
/src/ApiGateways/WebApiGateway/bin/Debug/net8.0
/src/ApiGateways/WebApiGateway/obj
/src/Services/Product.API/bin/Debug/net8.0
/src/Services/Product.API/obj
*.user
/src/Services/Identity.API/bin/Debug/net8.0
/src/Services/Identity.API/obj
/src/Services/Basket.API/obj
/src/Services/Order.API/obj
/src/Services/Payment.API/obj
/src/Services/Order.API/bin/Debug/net8.0
/src/Services/Basket.API/bin/Debug/net8.0
/src/Services/Payment.API/bin/Debug/net8.0
/src/Services/Basket.API/Logs
/src/Services/BasketService/Basket.API/bin/Debug/net8.0
/src/Services/BasketService/Basket.API/Logs
/src/Services/BasketService/Basket.API/obj
*.http
/src/Services/BasketService/Basket.Application/bin/Debug/net8.0
/src/Services/BasketService/Basket.Application/obj
/src/Services/BasketService/Basket.Core/bin/Debug/net8.0
/src/Services/BasketService/Basket.Core/obj
/src/Services/BasketService/Basket.Infrastructure/bin/Debug/net8.0
/src/Services/BasketService/Basket.Tests/obj
/src/Services/BasketService/Basket.Infrastructure/obj
/src/Services/OrderService/Order.API/bin/Debug/net8.0
/src/Services/OrderService/Order.API/obj
/src/Services/OrderService/Order.Application/bin/Debug/net8.0
/src/Services/OrderService/Order.Application/obj
/src/Services/OrderService/Order.Core/obj
/src/Services/OrderService/Order.Infrastructure/obj
/src/Services/OrderService/Order.Infrastructure/bin/Debug/net8.0
/src/Services/OrderService/Order.Tests/bin/Debug/net8.0
/src/Services/OrderService/Order.Tests/obj
/src/Services/OrderService/Order.Core/bin/Debug/net8.0
/src/Services/BasketService/Basket.Tests/bin/Debug/net8.0
/src/Services/OrderService/Order.UseCase/bin/Debug/net8.0
/src/Services/OrderService/Order.UseCase/obj
/src/Services/InventoryService/InventoryService.Domain/bin/Debug/net8.0
/src/Services/InventoryService/InventoryService.Domain/obj
/src/Services/Common/bin/Debug/net8.0
/src/Services/Common/obj
/src/Services/InventoryService/InventoryService.Application/bin/Debug/net8.0
/src/Services/InventoryService/InventoryService.Application/obj
/src/Services/InventoryService/InventoryService.Infrastructure/bin/Debug/net8.0
/src/Services/InventoryService/InventoryService.Infrastructure/obj
/src/Services/InventoryService/InventoryService.WebApi/bin/Debug/net8.0
/src/Services/InventoryService/InventoryService.WebApi/obj
