################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/src/.vs
/src/ApiGateways/WebApiGateway/.vs/WebApiGateway
/src/ApiGateways/WebApiGateway/bin/Debug/net8.0
/src/ApiGateways/WebApiGateway/obj
/src/Services/Product.API/bin/Debug/net8.0
/src/Services/Product.API/obj
*.user
/src/Services/Identity.API/bin/Debug/net8.0
/src/Services/Identity.API/obj
/src/Services/Basket.API/obj
/src/Services/Order.API/obj
/src/Services/Payment.API/obj
/src/Services/Order.API/bin/Debug/net8.0
/src/Services/Basket.API/bin/Debug/net8.0
/src/Services/Payment.API/bin/Debug/net8.0
/src/Services/Basket.API/Logs
/src/Services/BasketService/Basket.API/bin/Debug/net8.0
/src/Services/BasketService/Basket.API/Logs
/src/Services/BasketService/Basket.API/obj
*.http
